<!DOCTYPE html>
<html>
	<head>
		<title>temp_app</title>
	</head>


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/static/index.css" />

	<body>
		<div id="divSearch">
				<img src="/static/logo-aisweb.png" >
				<form id="form" method="post" action="/">
					<input type="text"  id="txtSearch"  name="icao" placeholder="Digite o ICAO.."/><br><br>
					<input id="buttonSubmit" type="submit" name="buttonSubmit" value="Pesquisar"/>
				</form>
		</div>

	</body>
</html>